.top-img {
  position: relative;
}

.top-img img {
  width: 100%;
}

.top-img-text {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-size: 40px;
  position: absolute;
  top: 80%;
  left: 5%;
  color: white;
  text-shadow: black 2px 5px;
} 