@mixin common-font {
    font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
    font-size: 30px;
    transition: background-color 1s;
    transition: font-shadow 5px;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between; /* 両端に配置 */
    align-items: center; /* 垂直方向で中央に揃える */
}

.header-contactus {
    @include common-font;
    padding-left: 50px;
    text-align: left;
    &:hover {
        cursor: pointer;
        background-color: skyblue
    }
}

.header-menu {
    @include common-font;
    padding-right: 50px;
    text-align: right;
    background-color: white;
    border: none;
    // transition: transform 1s ease;
    transition: background-color 1s;

    &:hover {
        cursor: pointer;
        background-color: skyblue;

    }
}

.header-menu-list {
    position: fixed;
    top: 100px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px); // なぜか右寄せになるため、calcで設定
    height: 50%;         /* 高さは画面の50% */
    background: white;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* paddingを含む計算 */

    ul {
        padding: 50px;
        list-style: none;
        text-align: center;
    }
}